.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #888888;
  padding: 20px;
}

.item1 {
  background-color: #eedffc;
  grid-column: 1 / span 1;
}

.item2 {
  background-color: rgb(253, 210, 217);
  grid-column: 2 / span 1;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  border-radius: 50%;
}

span{
  font-size: larger;
  text-align: center;
  margin-left: 48px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}
h3{
  padding-left: 10px;
  font-size: larger;
  color: rgb(254, 254, 94);
  border-color: #0000ff;
}
.item2 > h3{
  color: black;
  padding-left: 10px;
}

span{
  font-style: italic;
  font-weight: bold;
}
.item1 > p{
  text-align: justify;
  line-height: 1.5;
  padding: 5px;
}

.item1 >ul{
  text-align: justify;
  font-size: 15px;
  font-weight: bold;
  color: #6a0462bb;
  list-style-type: square;
  list-style-position: inside;
  padding: 10px;
}

p {
  text-align: justify;
  line-height: 1.7;
}
ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

li {
  margin-bottom: 10px;
}

.item2> ul{
  font-size: 15px;
  line-height: 1.5;
}
a {
  color: #0000ff;
  text-decoration: none;
  border-bottom: 1px solid #0000ff;
}

a:hover {
  background-color: #0000ff;
  color: #ffffff;
  
}
.item3{
  display: grid;
  grid-column: 1 /span 1 ;
  background-color: rgb(43, 189, 141);
  justify-content: center;
  align-items: center;
}
.item4{
  grid-column: 2 /span 1;
  grid-row: 2 / span 1;
  background-color: rgb(255, 255, 136);
  background-image: url("사하라사막.jpg");
  background-size: cover;
  background-size: 100% 100%;
}